body, html{
overflow-x: hidden;
}
h1, h2, h3, h4, h5, body, p{
  font-family: 'Source Sans Pro', sans-serif;
}
#main{
   background:black url('/img/GalleryBW4.jpg') no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
height: 100%;
}
#main h2{
    margin-top: 100px;
    text-align: center;
       color:goldenrod;
    font-family: 'Mrs Saint Delafield', cursive;
   padding-top:0px;
   font-size: 100px;
}



#main h2{
      font-family: 'Mrs Saint Delafield', cursive;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
#main h3{
      font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0px; 
}

#about-me h1{
      color:darkgrey;
      font-size: 80px;
    font-family: 'Mrs Saint Delafield', cursive;
}
/*navbar*/
/*.navbar{
    background-color: black;
}
.list-inline{
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 0px;
}
.list-inline li{
  
    margin-left: -15px;
    padding-left: 0px;
}



#heading h1{
   color: e7ae22;
   padding-top:120px;
   font-size: 80px;

   }
   #heading p{
   color: grey;
   margin-top:0;
   font-size: 20px;
   }
   .nav a{
       color: grey;
        background-color:transparent !important;
   }
   .nav a:hover{
       background-color:transparent !important;
      color:goldenrod;
   }

   #heading{
       text-align:center;
       padding-top:150px;
   }*/
#work{
    padding-top:70px;
    margin-bottom: 70px;
}
#work h1{
    font-size: 80px;
    color: lightgrey;
      /*color:goldenrod;*/
   font-family: 'Mrs Saint Delafield', cursive;
    margin-bottom: 20px;
    
}
#work .row{
    margin-top: 35px;
    text-align: center;
}
#port-filters{
    /*display: table;*/
    margin-top:0;
        margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 45px;
}
#port-filters .filt{
    margin-top: 5px;
}
.filt ul{
    margin-top: 0px;
    margin:0;
    padding:0;
    list-style-type: none;
    text-align: center;
  
}
.filt a{
       color: black;
}
.filt a:hover{
       color: grey;
}
.filt ul li{
    display: inline;
        position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
/*.portfolio-grid-wrapper{
        margin: 0 -5px;
      
}*/
/*#portfolio{
    margin-bottom: 100px;
}*/

.portfolio-grid{
    margin-top: 25px;
    position: relative;
    height: 700px;
    width:100%;
    margin-left: -15px;
    margin-right: -15px;

    display: block;
    
}
.portfolio-item{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
      text-decoration: none;
}
/*.portfolio-item:hover{
    /*background-color: white;*/
    /*opacity: .3;*/
    /*border: 1px solid grey;
}*/

.portfolio-caption {
  color: black;

}

#bookStore{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: 1;
}

#slap{
animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: 1;
}
#todo{
animation-duration: 2s;
animation-delay: 3s;
animation-iteration-count: 1;
}

#port-buttons{
      display: inline-block;
}

#port-buttons .btn{
/*position: absolute;*/
border: 1px solid white;
background: white;
opacity: .3;
border-radius: 5px;
font-size: 15px;
color: black;
margin-top: 5px;
margin-bottom: 10px;
height: 35px;
width: 70px;
padding-left: 5px;
padding-right: 5px;
margin-right: 5px;
margin-left: 5px;
}
#port-buttons .btn:hover{
    border: 1px solid white;
    opacity: .8;
    background-color: white;
}

.btn{
   
position: absolute;
/*border: 2px solid blac;*/
background: white;
opacity: .1;
border-radius: 5px;
font-size: 200%;
color: black;
margin-top: 20px;
margin-bottom: 20px;
height: 80px;
width: 160px;
padding-top: 17px;
padding-bottom: 17px;
padding-left: 5px;
padding-right: 5px;
margin-right: 5px;
margin-left: 5px;
}
.btn:hover{
    color: white;
    background: black;
    border: white;
}
.btn-group{
    display: inline-block;
}
#buttons{
    text-align: center;
   
}


.progress-bar{
    background-color: transparent;
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    color: white;
}
#about{
    padding-top: 110px;
    padding-bottom: 110px;
   background: white;
}
.about img{
    height: 50%;
    vertical-align: left;
}
.about{
    margin-top: 45px;
}

.education h1, h2, h4, h5, p, img{

    text-align: left;
    color: grey;
    /*margin-left: 12%;*/
}
#about-me {
    color: grey;
       font-family: 'Source Sans Pro', sans-serif;
      /*color:goldenrod;*/
    /*font-family: 'Mrs Saint Delafield', cursive;*/
    text-align: center;
     padding-bottom:20px;
     margin-bottom: 20px;
}
#race label{
    text-align: left !important;
    color: grey;
}

#race{
    margin-top: 42px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right:0px;
}

#race h6{
    margin-bottom: 41px;
}
#race .progress{
    margin-bottom: 20px;
    margin-right: 20px;
}


.text ul{
    list-style-type: none;  
}

.education img{
position: relative;
margin-right: 5%;
margin-top: 67px;
height: 40%;
top: 0%;
left: 0%;
}
.caption h3, p{
    text-align: center;
    /*margin-left: 5%;*/
    margin-top: 10px;
}

#portfolio{
      background-color: black;
      margin-left: -15px;
      margin-right: -15px;
      
}
.portfolio-item img{
    padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
width: 100%;
}

/*body, html{
   height: 100%;
}*/
#bookStore{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: 1;
}

#slap{
animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: 1;

}
#todo{
animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: 1;
}
#CSS{
  animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: 1;  
}
#musicStore{
    animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 1;
}
#Pop-Up{
    animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 1;
}
#zooKeeper{
    animation-duration: 2s;
animation-delay: 3s;
animation-iteration-count: 1;
}
#Pop-UpDevil{
animation-duration: 2s;
animation-delay: 3s;
animation-iteration-count: 1;
}
#contact-me div, h4, h5, h2{
  text-align: center;
  
  padding-bottom: 0px;
}
#contact-me h2{
    color:goldenrod;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 100px;
}
.my-contact{
    margin-bottom: 45px;
    margin-top: 0px;
}
