<div id="contact" class="container">

    <div class="my-contact">
        <section class="row" id="contact-me">
       
            <div class="col-xs-12 col-md-4">
                <ul>
                    <li> <span><i class="glyphicon glyphicon-envelope "></i>&nbsp; &nbsp;<label for="email"> malyndapoulsen@gmail.com</label></span>
                    </li>
                    <li> <span><i class="glyphicon glyphicon-earphone "></i>&nbsp; &nbsp;<label for="Phone"> 509.301.7707</label></span>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-4">
                <ul>
                    <li> <span><i class="glyphicon glyphicon-home "></i>&nbsp; &nbsp;<label for="LandingPage"> Landing Page</label></span>
                    </li>
                    <li><span><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp; &nbsp;<label for="Game"> Hanz & Franz</label></span>
                    </li>
                   
                </ul>
            </div>
             <div class="col-xs-12 col-md-4">
                <ul>
                    <li> <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; &nbsp;<label for="To-Do's'"> Collection of To-Do's</label></span>
                    </li>
                    <li> <span><i class="fa fa-book" aria-hidden="true"></i>&nbsp; &nbsp;<label for="Library"> Library</label></span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>