<div id="contact" class="container">

    <div class="my-contact">
        <section class="row" id="contact-me">
       
            <div class="col-xs-12">
                <h2>M Poulsen Designs</h2>
                <hr>
                <h4>MaLynda Poulsen</h4>
                <h5>Web Designer Developer</h5>
                
            <i class="glyphicon glyphicon-earphone "></i>&nbsp; &nbsp;<label for="Phone"> 509.301.7707</label><br>
                <i class="glyphicon glyphicon-envelope "></i>&nbsp; &nbsp;<label for="email"> malyndapoulsen@gmail.com</label>
                
                
            
            </div>
        </section>
    </div>
</div>