<section id="about" class="module">

	<div class="container">

		<!-- MODULE TITLE -->
		<div id="about-me" class="module-about module-parallax module-full-height bg-light-60">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">About</h2>

					<div class="module-subtitle font-serif">
						<em></em>
					</div>
				</div>
			</div>
			<div class="row">
                <div id="sign" class="col-xs-12 col-md-6">

                    <div><img src="/img/m.png" alt="Lt M"></div>
                    
                </div>

				<!--<div class="about col-sm-6">
                    <div id="image" class="row">
<img src="/img/picofme.jpg" alt="">

                    </div>-->
<!--
					<p>
						With over 20 years of experience in design, web development, education, and retail management , my diverse skill set make
						me unique and highly adaptable. My portfolio demonstrates visual design thinking and proficiency in a variety of formats.
						I am extremely adept at Photoshop and familiar with the Adobe Suite software, understand responsive design, and can
						design for both mobile and web applications, with or without bootstrap.</p>
					<p>
						I am quick to learn new technologies and am continually adding new skills and languages to my repertoire.</p>
					<p>The following are just a few of my strengths:</p>

					<ul>
						<li>
							I am proficient in HTML/Javascript/CSS/ Bootstrap/Angular/jQuery, and am able to prototype in these mediums.
						</li>
						<li>
							I use GitHub for version control.
						</li>
						<li>
							I have a strong understanding of “Object-Oriented Programming.”
						</li>
						<li>
							I am collaboratively minded and able to both embrace SCRUM methodology and work in an “agile” environment.
						</li>

						<li>
							I am a conceptual thinker, skilled in creative problem solving, particularly when geared towards “result oriented” outcomes.
						</li>

						<li>
							I am an excellent communicator (visually, verbally, and in writing).
						</li>
						<li>
							I am detail-oriented, organized, and able to maintain a positive attitude in stressful situations.
						</li>
						<li>
							I possess exceptional drawing skills.
						</li>
						<li>I demonstrate integrity and accountability in all that I do.</li>
					</ul>
					<a ng-click="show = !show">
						<p>To read more...</p>
					</a>

					<div ng-show="show">
						<p>I gained valuable experience from each professional opportunity and have obtained a vast skill set, both technically
							and organizationally. Within both public and private organizations, I have become adept at navigating all sorts of
							individuals in varied settings. I strive for collaboration, collegiality, and respect diverse ideas and opinions in
							all I undertake. My decade of management experience combined with web development skills and eight years of teaching
							in visual art foundations, makes me uniquely qualified for positions that require both design and development skills.</p>
					</div>-->
				<!--</div>-->

				<!-- SKILLS -->
				<div id="race" class="col-sm-6">
					<!--<div class="race-box">-->


					<div class="row">
						<div class="col-xs-12">
							<!--<div><img id="horse-1" src="app/img/horse1.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

							<div class="progress">
								<div id="horse-1-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;" border="0">
									<span class="font-alt " style="opacity: 1; ">HTML5</span>
								</div>
							</div>
						</div>
					</div>
				
			
			<div class="row">
				<div class="col-xs-12">
					<!--<div><img id="horse-2" src="app/img/horse2.png" style="left: num; height:60%; position: absolute; top: -60%;" border="0"></div>-->

					<div class="progress">
						<div id="horse-2-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1; ">CSS</span>
						</div>
					</div>
</div>
				</div>
		

		<div class="row">
			<div class="col-xs-12">
<!--
				<div><img id="horse-3" src="app/img/horse3.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

					<div class="progress">
						<div id="horse-3-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1; ">JQUERY</span>
						</div>
					</div>
</div>
				</div>
		

		<div class="row">
			<div class="col-xs-12">
				<!--<div><img id="horse-4" src="app/img/horse4.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

					<div class="progress">
						<div id="horse-4-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1;">JAVASCRIPT</span>
						</div>
					</div>
				</div>
				</div>
			


		<div class="row">
			<div class="col-xs-12">
				<!--<div><img id="horse-5" src="app/img/horse5.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

					<div class="progress">
						<div id="horse-5-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1;">BOOTSTRAP</span>
						</div>
					</div>
				</div>
				</div>
		

		<div class="row">
			<div class="col-xs-12">

				<!--<div><img id="horse-6" src="app/img/horse6.png"  border="0"></div>-->

					<div class="progress">
						<div id="horse-6-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1;">ANGULAR JS</span>
						</div>
					</div>
				</div>
				</div>
		


		<div class="row">
			<div class="col-xs-12">
				<!--<div><img id="horse-7" src="app/img/horse7.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

					<div class="progress">
						<div id="horse-7-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 100%;" border="0">
							<span class="font-alt " style="opacity: 1;">PHOTOSHOP</span>
						</div>
					</div>
				</div>
				</div>
		

		<!--<img id="horse-4" src="app/img/horse7.png" style="height:55px; left: num; position: absolute; top: 312px;" border="0">

					<div class="progress">
						<div id="horse-7-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="width: numb; height: 20px; background: grey;" border="0">
							<span class="font-alt " style="opacity: 1;">JAVASCRIPT</span>
						</div>--->
	</div>

	</div>

</section>