<section id="about" class="row bg-full module">

	<div class="container-fluid">

		<!-- MODULE TITLE -->
		<div id="about-me" class="module-about module-parallax module-full-height bg-light-60">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="module-title font-alt">About</h1>

					<div class="module-subtitle font-serif">
						<em>"All of us, at some point in life, get brilliant ideas...only a few of us have the courage to take the next step."</em>
						<em>-Manoj Arora</em><br>
					
					</div>
				</div>
			</div>
			<div class="row">
				<div id="sign" class="col-xs-12 col-md-6">

					<div ng-show="!show" class="education">
						<div><img src="img/picofme.jpg" alt="Picture of MaLynda Poulsen"></div>
						<div class="caption">
							<h3>Education</h3>
							<p>Front-End Web Develpment &nbsp; &nbsp; Boise Code Works</p>
							<p>MFA &nbsp; &nbsp; Boise State University</p>
						</div>
						<a ng-click="show = !show">
							<p>To read more...</p>
						</a>
					</div>





					<div class="narrative" ng-show="show">

						<p>The following are just a few of my strengths:</p><br>
						<ul>

							<li>
								Use GitHub for version control.
							</li><br>
							<li>
								Strong understanding of “Object-Oriented Programming”.
							</li><br>
							<li>
								Collaboratively minded and able to both embrace SCRUM methodology and work in an “agile” environment.
							</li><br>

							<li>
								A conceptual thinker, skilled in creative problem solving, particularly when geared towards “result oriented” outcomes.
							</li><br>

							<li>
								An excellent communicator (visually, verbally, and in writing).
							</li><br>
							<li>
								Detail-oriented, organized, and able to maintain a positive attitude in stressful situations.
							</li><br>
							<li>				
							Quick to learn new technologies and I am continually adding new skills and languages to my repertoire.</li><br>
						<li>Extremely adept at Photoshop and familiar with the Adobe Suite software, understand responsive design, and can
							design for both mobile and web applications, with or without bootstrap.</li>
						</ul>

				

					</div>
				</div>
				<!-- SKILLS -->
				<div id="race" class="col-xs-12 col-md-6">
					<!--<div class="race-box">-->


					<div class="row">
						<div class="col-xs-12" style=" text-align: center;">
							<!--<div><img id="horse-1" src="app/img/horse1.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->

							<label style="text-align: left;" for="HTML5">HTML5</label>
							<div class="progress">
								<div id="horse-1-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt" style="opacity: 1; ">Proficient</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">
							<!--<div><img id="horse-2" src="app/img/horse2.png" style="left: num; height:60%; position: absolute; top: -60%;" border="0"></div>-->
							<label style="text-align: left;" for="CSS">CSS</label>
							<div class="progress">
								<div id="horse-2-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1; ">Proficient</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">
							<!--
				<div><img id="horse-3" src="app/img/horse3.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->
							<label style="text-align: left;" for="jQuery">jQuery</label>
							<div class="progress">
								<div id="horse-3-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1; ">Beginner</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">
							<!--<div><img id="horse-4" src="app/img/horse4.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->
							<label style="text-align: left;" for="JavaScript">JavaScript</label>
							<div class="progress">
								<div id="horse-4-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1;">Beginner</span>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-xs-12">
							<!--<div><img id="horse-5" src="app/img/horse5.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->
							<label style="text-align: left;" for="Bootstrap">Bootstrap</label>
							<div class="progress">
								<div id="horse-5-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1;">Proficient</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">

							<!--<div><img id="horse-6" src="app/img/horse6.png"  border="0"></div>-->
							<label style="text-align: left;" for="AngularJS">AngularJS</label>
							<div class="progress">
								<div id="horse-6-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1;">Beginner</span>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-xs-12">
							<!--<div><img id="horse-7" src="app/img/horse7.png" style="height:60%; left: num; position: absolute; top: -60%;" border="0"></div>-->
							<label style="text-align: left;" for="Photoshop">Photoshop</label>
							<div class="progress">
								<div id="horse-7-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
									style="width: numb; height: 100%;  background: darkgrey;" border="0">
									<span class="font-alt " style="opacity: 1;">Intermediate</span>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</section>