<div class="image-responsive container-fluid">
    <div id="main" class="row bg-full">
        <div class="col-xs-12 col-md-12">
            <h2>MaLynda Poulsen</h2>
            <!--<h4>MaLynda Poulsen</h4>-->
            <h3>Web Designer and Developer</h3>
            <div id="buttons">
                <div class="btn-group">
                
                    <a href="#portfolio" id="jump"  type="button" class="btn main-btn" class="section-scroll">Portfolio</a>
                    <a href="#skills" type="button" class="btn main-btn" class="section-scroll">Skills</a>
                    <a href="#skills" type="button" class="btn main-btn" class="section-scroll">Experience</a>
					
                </div>
            </div>
        </div>
    </div>
</div