<div class="container-fluid">
	<section id="portfolio" class="module">

		<div id="work" class="container">

			<!-- MODULE TITLE -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="module-title font-alt">Portfolio</h1>
				</div>
			</div>


			<!-- WORKS GRID -->
			<div class="portfolio-grid-wrapper">

				<div id="portfolio-grid" class="portfolio-grid portfolio" style="position: relative; height: 800px;">

					<!-- DO NOT DELETE THIS DIV -->
					<div class="grid-sizer"></div>
					<div class="row">
						<!-- PORTFOLIO ITEM -->
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
				<div class="row">
							<div class="col-xs-12 col-md-6">
								<div id="CSS" class="portfolio-item design games">

									<a href="http://malyndapoulsen.github.io/MaLynda/" target="_blank"><img src="img/Plumb.jpg" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn" data-toggle="modal" data-target="#myModal11">Read Me</button>
											<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal11Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal11Label">Winery</h4>
														</div>
														<div class="modal-body">
														I designed and developed a website and logo based on both Plumb Cellars' new label design and tasting room. The color theme and home page mimic the label. I used CSS animations to make the plumb bob drop on the main page, which is a reference to both the winery's name and its inspiration. Additionally, I integrated images of the tasting room and the patio where many of their events take place. This site has a store and a wine club. <br>	
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="http://malyndapoulsen.github.io/Winery/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/MaLynda/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>

										</div>
									</div>

								</div>
							</div>



							<div class="col-xs-12 col-md-6">
								<div id="slap" class="portfolio-item design games">
									<a href="https://malyndapoulsen.github.io/Jeanie/" target="_blank"><img src="img/jeanie.png" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal10">Read Me</button>
											<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal10Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal10Label">Hanz and Franz</h4>
														</div>
														<div class="modal-body">
												This site was designed and developed for a new restaurant opening in Seattle. The logo was designed by one of the owners, but the site was completely designed by myself. This site employs parallax movement and CSS animations. It has multiple menus imported using AngularJS and Javascript. This site is both mobile responsive and cross-browser compatible.
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="https://malyndapoulsen.github.io/Jeanie/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/Jeanie/" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>

								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div id="CSS" class="portfolio-item design games">

									<a href="http://malyndapoulsen.github.io/MaLynda/" target="_blank"><img src="img/CSS-Resume.png" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn" data-toggle="modal" data-target="#myModal4">Read Me</button>
											<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal4Label">CSS Resume</h4>
														</div>
														<div class="modal-body">
															It might be obvious how much effort went into this site. <br> I found an amazing creative team I wanted to apply
												too, so I decided to create a resume that would showcase my creativity and versatility. I designed every image
												to be beautiful, a little whimsical, yet slightly dark. Additionally, I didn't want it to be too cute, and I
												wanted it to be a stage, ready to employ characters later. <br>
												<br>This project has paralax, AngularJS components, themed pages, gifs, CSS animations and transition, some jQuery,
												bootstrap, and much more! I really wanted to demonstrate CSS. This app is scalable and responsive! This site
												required numerous hours of research to both learn and apply new techniques.<br> I love what is going on here.<br>	
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="http://malyndapoulsen.github.io/MaLynda/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/MaLynda/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>

										</div>
									</div>

								</div>
							</div>



							<div class="col-xs-12 col-md-6">
								<div id="slap" class="portfolio-item design games">
									<a href="https://malyndapoulsen.github.io/SlapGame/demo/" target="_blank"><img src="img/HanzFranz3.jpg" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal5">Read Me</button>
											<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal5Label">Hanz and Franz</h4>
														</div>
														<div class="modal-body">
														Hanz and Franz began as a practice in manipulating the DOM, or specifically a progress bar. Once I had the simple JavaScript
													code written for a one player game, I decided to take it to the next level by including an additional player.
													<br> Each player has two attack modes and two defenses. Later I decided the second player shouldn't have to
													control the defensive moves. So I wrote a random function that has two defenses and two non-reactive responses.
													Depending on the attack and defense, the health of the players varies.<br> I began with simple alerts. Unsatisfied
													with this solution, I designed a vintage sideshow with two humorous fighters.<br> At first I researched sprites.
													Once I had several put together and included in my game, I realized I didn't like the way they worked or looked.
													So I did more research and learned to create gifs. Then I simply had to figure out how to get a gif to work
													"once" on command. That turned out to be pretty difficult. I finally figured out how to replace the gif with
													a png each time an attack was triggered. Then I had to set a delay so that defense didn't happen at the exact
													same time.  <br>I carefully placed each of the 10 gifs and pngs, so hopefully there wouldn't be alot of movement. <br> 
													I hope you enjoy Hanz and Franz. My favorite giff is when Franz
													is knocked-out.
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="https://malyndapoulsen.github.io/SlapGame/demo/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/SlapGame" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div id="todo" class="portfolio-item web">

									<a href="http://malyndapoulsen.github.io/Todo-collection/" target="_blank"><img src="img/Coffee.jpg" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">Read Me</button>
											<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal2Label">To-Dos and Calculators</h4>
														</div>
														<div class="modal-body">
																This began as a simple javascript calculator. <br> I wanted a drop-down menu where you could choose the type
													of conversion, instead of using input fields and buttons. Once I had accomplished that, we were already working
													in UI-Router and creating to-do lists. <br> It seemed like it would be good practice to create several routes,
													controllers, and to-do lists. Once I had a theme, I decided to include the calculator as part of the app.<br>													I spent many hours making the images pixal perfect. I included scroll-bars that started Please take note of the the position of the scroll bars on the registers. They are pixal perfect and stop/start on exact
													points! I am very proud of it! I believe it's beautiful!

														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="http://malyndapoulsen.github.io/Todo-collection/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/Todo-collection/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>

								</div>
							</div>
							<!-- /PORTFOLIO ITEM -->
							<div class="col-xs-12 col-md-6">
								<div id="bookStore" class="portfolio-item design">

									<a href="https://malyndapoulsen.github.io/TheBookStore/" target="_blank"><img src="img/BookStore.png" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">Read Me</button>
											<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal3Label">The Library</h4>
														</div>
														<div class="modal-body">
															This Library or BookStore was fun to create. It has local storage, input fields and models, and a scroll-bar. I also found
													a "ratings controller" that I modified for my app. I love it! Additionally, you can enter your favorite
													book, author, and picture, and it'll save it to "your favorites"!
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="https://malyndapoulsen.github.io/TheBookStore/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/TheBookStore/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>

								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div id="musicStore" class="portfolio-item design">

									<a href="http://malyndapoulsen.github.io/music-store/" target="_blank"><img src="img/Music Store.png" alt=""></a>
									<div id="port-buttons">


										<div id="port-buttons">
											<div class="btn-group">
												<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal5">Read Me</button>
												<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5Label" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
																<h4 class="modal-title" id="myModal5Label">Music Store</h4>
															</div>
															<div class="modal-body">
																The Music Store was our first time using an API. I also created a nice design, used a scroll-bar, li items, hover effects, and I included music
													clips. This is a pretty successful project.
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

															</div>
														</div>
													</div>
												</div>
												<a href="http://malyndapoulsen.github.io/music-store/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
												<a href="https://github.com/MalyndaPoulsen/music-store/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
													<span class="fa fa-github"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-md-6">
								<div id="Pop-Up" class="portfolio-item design">

									<a href="http://malyndapoulsen.github.io/Pop-Up-Penguins/" target="_blank"><img src="img/Pop-Up-Penguines.png" alt=""></a>

									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal6">Read Me</button>
											<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal6Label">Pop-Up Penguines</h4>
														</div>
														<div class="modal-body">
															Pop-Up Penguines is a simple game using two lines of jQuery. The purpose of this game was to practice writing styles in CSS,
													and using the hover and active attributes.<br> I went beyond the assignment by including
													a sound effect when the yeti comes out.</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="http://malyndapoulsen.github.io/Pop-Up-Penguins/" target="_blank" type="button" class="btn demo-btn">LiveDemo</a>
											<a href="https://github.com/MalyndaPoulsen/Pop-Up-Penguins/tree/gh-pages" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-xs-12 col-md-6">
								<div id="Pop-UpDevil" class="portfolio-item design">

									<a href="https://github.com/MalyndaPoulsen" target="_blank"><img src="img/Pop-Up-Devil.png" alt=""></a>
									
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal7">Read Me</button>
											<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModal7Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal7Label">Pop-Up Devil</h4>
														</div>
														<div class="modal-body">
																									I took the "whack-a-mole" game and switched it up a bit. I made a series of wind-up "Jack-in-the-box" using Photoshop.
														There are three colors- red, blue, and green. Each color has the possibility of launching a monkey or a devil.
														<br>As the boxes play their music and transition between four winding images, the player can
														click on any box. The question is- will they find the monkey or the devil?<br> This game is still under construction.
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="" type="button" class="btn demo-btn">In-Progress</a>
											<a href="https://github.com/MalyndaPoulsen/Pop-UpDevil" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>
								</div>

							</div>


							<div class="col-xs-12 col-md-6">
								<div id="zooKeeper" class="portfolio-item design">

									<a href="https://github.com/MalyndaPoulsen" target="_blank"><img src="img/zooKeeper.png" alt=""></a>
									<div id="port-buttons">
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal8">Read Me</button>
											<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModal8Label" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          													<span aria-hidden="true">&times;</span>
       															 </button>
															<h4 class="modal-title" id="myModal8Label">The Zoo Keeper</h4>
														</div>
														<div class="modal-body">
															The Zoo Keeper is a game I designed to work with space, objects, and organizing. In this specific game, there are seven
														environment, which the zoo keeper can drag and drop animals into. I plan to create a switch statement
														that will allow you to leave an animal anywhere you like. If you choose wisely, you will get points. If you
														choose unwisely, you will get warnings, and eventually a consequence.<br>This project
														is still under construction.<br> This project has real life application. It could be developed into
														a storage app.</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

														</div>
													</div>
												</div>
											</div>
											<a href="https://github.com/MalyndaPoulsen/TheZooKeeper/tree/gh-pages" target="_blank" type="button" class="btn demo-btn">In-Progress</a>
											<a href="https://github.com/MalyndaPoulsen" target="_blank" type="button" class="btn btn-social-icon btn-github">
												<span class="fa fa-github"></span></a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>