<div class="container-fluid">
	<section id="portfolio" class="module">

		<div id="work" class="container">

			<!-- MODULE TITLE -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="module-title font-alt">Portfolio</h1>
				</div>
			</div>


			<!-- WORKS GRID -->
			<div class="portfolio-grid-wrapper">

				<div id="portfolio-grid" class="portfolio-grid portfolio" style="position: relative; height: 800px;">

					<!-- DO NOT DELETE THIS DIV -->
					<div class="grid-sizer"></div>
					<div class="row">
						<!-- PORTFOLIO ITEM -->
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="slap" class="portfolio-item design games">
								<a href="portfolio-single-1.html">
									<img src="img/HanzFranz3.jpg" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="todo" class="portfolio-item web">
								<a href="portfolio-single-1.html">
									<img src="img/Coffee.jpg" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- /PORTFOLIO ITEM -->
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="bookStore" class="portfolio-item design">
								<a href="portfolio-single-1.html">
									<img src="img/BookStore.png" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="CSS" class="portfolio-item design games">
								<a href="portfolio-single-1.html">
									<img src="img/CSS Resume.png" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>


						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="musicStore" class="portfolio-item design">
								<a href="portfolio-single-1.html">
									<img src="img/Music Store.png" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="Pop-Up" class="portfolio-item design">
								<a href="portfolio-single-1.html">
									<img src="img/Pop-Up Penguines.png" alt="">

									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="Pop-UpDevil" class="portfolio-item design">
								<a href="portfolio-single-1.html">
									<img src="img/Pop-Up Devil.png" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
							</div>
							</a>
						</div>


						<div class="col-xs-12 col-sm-6 col-md-4">
							<div id="zooKeeper" class="portfolio-item design">
								<a href="portfolio-single-1.html">
									<img src="img/zoo.png" alt="">
									<div id="port-buttons">
										<div class="btn-group">
											<button href="" type="button" class="btn readme-btn">ReadMe</button>
											<button href="" type="button" class="btn demo-btn">LiveDemo</button>
										</div>
									</div>
							</div>
							</a>
						</div>







					</div>
				</div>
			</div>
		</div>
	</section>
</div>