<div class="container-fluid">
    <section id="portfolio" class="module">

			<div id="work" class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">My Portfolio</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<!-- FILTER -->
				<div id="port-filters" class="row">

					<div class="filt col-sm-12">
						<ul id="filters" class="filters font-alt">
							<li><a href="#" data-filter="*" class="current">All</a></li>
							<li><a href="#" data-filter=".games">Games</a></li>
							<li><a href="#" data-filter=".webApp">Web Apps</a></li>
							<li><a href="#" data-filter=".design">Art</a></li>
						</ul>
					</div>

				</div>
				<!-- /FILTER -->

				<!-- WORKS GRID -->
				<div class="portfolio-grid-wrapper">

					<div id="portfolio-grid" class="portfolio-grid portfolio" style="position: relative; height: 500px;">

						<!-- DO NOT DELETE THIS DIV -->
						<div class="grid-sizer"></div>
                        <div class="row">
						<!-- PORTFOLIO ITEM -->
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
                         <div class="col-xs-12 col-md-4">
						<div id="slap" class="portfolio-item design games"  >
							<a href="portfolio-single-1.html">
								<img src="app/img/HanzFranz3.jpg"  style="height:50%; margin: 0 10px 0 -10px; padding-left:10px;" alt="">
								<div id="description" class="portfolio-caption font-alt">
									<h3 class="portfolio-title">Hans and Franz</h3>
									<div class="portfolio-descr">
										Game
									</div>
								</div>
							</a>
						</div>
                        </div>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
                         <div class="col-xs-12 col-md-4">
						<div id="todo" class="portfolio-item web" style="height: 460px; left: 741px; top: 0px;">
							<a href="portfolio-single-1.html">
								<img src="app/img/Coffee.jpg" style="height: 50%;" alt="">
								<div class="portfolio-caption font-alt">
									<h3 class="portfolio-title">To-Do Lists & Calculator</h3>
									<div class="portfolio-descr">
										Design/ Functionality
									</div>
								</div>
							</a>
                            </div>
						</div>
						<!-- /PORTFOLIO ITEM -->
                         <div class="col-xs-12 col-md-4">
						<div id="bookStore" class="portfolio-item design"  style="height: 460px; left: 486px; top: 230px;">
							<a href="portfolio-single-1.html">
								<img src="app/img/BookStore.png" style="height: 50%" alt="">
								<div class="portfolio-caption font-alt">
									<h3 class="portfolio-title">The Library</h3>
									<div class="portfolio-descr">
										Functionality/ Local Storage
									</div>
								</div>
							</a>
                            </div>
						</div>
</div>
</div>
<!--<div class="row">-->
						<!-- PORTFOLIO ITEM -->
                        
                    
						<!-- /PORTFOLIO ITEM -->
                             <!--<div class="col-xs-12 col-md-12">
						<div class="portfolio-item  web design" style="left: 243px; top: 230px;">
							<a href="portfolio-single-1.html">
								<img src="app/img/landingpage2.jpg" style="width: 100%;" alt="">
								<div class="portfolio-caption font-alt">
									<h3 class="portfolio-title">Landing Page</h3>
									<div class="portfolio-descr">
										Design & Photo/Editing
									</div>
								</div>
							</a>
						</div>
                        </div>-->
                        <!--<div class="col-xs-4">
						<div class="portfolio-item design games" style="height: 460px; left: 0px; top: 0px;">
							<a href="portfolio-single-1.html">
								<img src="app/img/zooKeeper2.jpg" style="height: 50%;" alt="">
								<div class="portfolio-caption font-alt">
									<h3 class="portfolio-title">The Zoo Keeper</h3>
									<div class="portfolio-descr">
										Portfolio Work
									</div>
								</div>
							</a>
						</div>
                        </div>-->

						<!-- PORTFOLIO ITEM -->
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
                         <!--<div class="col-xs-4">
						<div class="portfolio-item branding photo web" style="height: 30%; left: 0px; top: 460px;">
							<a href="portfolio-stack.html">
								<img src="assets/images/portfolio/img-6.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Pop-up Penguins</h3>
									<div class="work-descr">
										Branding / Photo / Web
									</div>
								</div>
							</a>
                            </div>
						</div>-->
						<!-- /PORTFOLIO ITEM -->
<!--</div>-->
						<!-- PORTFOLIO ITEM -->
						<!--<div class="work-item wide design photo web" style="height: 230px;  left: 0px; top: 920px;">
							<a href="portfolio-single-1.html">
								<img src="assets/images/portfolio/img-7.jpg" alt="">
								<div class="work-caption font-alt">
									<h3 class="work-title">Inspire</h3>
									<div class="work-descr">
										Design / Photo / Web
									</div>
								</div>
							</a>
						</div>-->
						<!-- /PORTFOLIO ITEM -->


			<!--</div>-->

		</section>
</div>